flake_dir=$(dirname $(find_up flake.nix))

# NixOS without Nix-LD needs the uv-deps devShell
if [[ -z "${OCAH_DEVSHELL_UV+x}" ]] && { grep -q 'VENDOR_NAME=NixOS' /etc/os-release 2>/dev/null && [[ -z "$NIX_LD_LIBRARY_PATH" ]]; }; then
    use flake $flake_dir#with_uv_deps
    watch_file $flake_dir/uv.lock
fi
# Environment Variable override
if [[ "$OCAH_DEVSHELL_UV" == "true" ]]; then
    use flake $flake_dir#with_uv_deps
    watch_file $flake_dir/uv.lock
else
    use flake $flake_dir#without_uv_deps
fi

# More comprehensive watchlist for reloads
watch_file $flake_dir/*.nix
watch_file $(find $flake_dir/nix/ -name '*.nix')
