[submodule "hw/sys/sep/bootrom/prod/tools/tt-boot-manifest"]
	path = hw/sys/sep/bootrom/prod/tools/tt-boot-manifest
	url = git@github.com:tenstorrent/tt-boot-manifest.git
[submodule "virtual_platform/tt-oca-sim"]
	path = virtual_platform/tt-oca-sim
	url = git@github.com:tenstorrent/tt-oca-sim.git
	branch = cmccoy/harness_repo_port_fixups
